@font-face {
  font-family: "Freight";
  src: url(../fonts/freight.otf) format("opentype");
}

@font-face {
  font-family: "Tiempos Headline";
  src: url(../fonts/tiempos-headline.otf) format("opentype");
}

header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.header__filter {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: #0c1a32;
  opacity: 0.7;
  width: 100%;
  height: 100%;
}

.header__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: 3s all;
  filter: brightness(0.4);
}

.header__hero {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  text-align: center;
  align-items: center;
}

.header__hero h1 {
  font-family: "Tiempos Headline", sans-serif;
  font-size: 5.9rem;
  line-height: 0.8;
  padding-top: 2rem;
  color: #fff;
}

.header__text p {
  font-family: "Chivo", sans-serif;
  font-size: 1rem;
  color: #fff;
}

.header__btn button {
  aspect-ratio: 3;
  font-size: 0.875rem;
  width: 7rem;
  font-family: "Chivo", sans-serif;
  color: #1c4480;
  border: none;
  border-radius: 4px;
  font-weight: 700;
}
