nav {
  position: fixed;
  top: 0;
  z-index: 1;
  height: 5.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.5s all;
}

a {
  text-decoration: none;
}

.nav__bar {
  padding: 1rem 0;
  width: 63rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__left {
  display: flex;
  flex-shrink: 0;
  gap: 2rem;
  align-content: center;
  justify-content: space-between;
}

.nav__logo {
  background: url(../images/logo-long-white.svg);
  background-size: cover;
  aspect-ratio: 3800/500;
  margin-bottom: 0.8rem;
  width: 13rem;
}

.nav__link {
  font-family: "Chivo", sans-serif;
  color: #fff;
  text-decoration: none;
  font-size: 0.875rem;
  padding-top: 0.7rem;
  padding-bottom: 0.25rem;
  height: fit-content;
  padding-inline: 0;
}

.nav__link:hover {
  border-bottom: 2px solid #fff !important;
}

.nav__dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.nav__btn {
  display: flex;
  font-family: "Chivo", sans-serif;
  color: #fff;
  text-decoration: none;
  font-size: 0.875rem;
  padding-top: 0.7rem;
  padding-bottom: 0.25rem;
  padding-inline: 0;
  background: none;
  border: none;
  gap: 0.2rem;
}

.nav__btn img {
  padding-top: 0.15rem;
}

.nav__btn:hover {
  border-bottom: 2px solid #fff !important;
}

.nav__right {
  display: none;
}

.nav__btn--apply button {
  aspect-ratio: 3;
  font-size: 0.875rem;
  width: 7rem;
  font-family: "Chivo", sans-serif;
  color: #1c4480;
  border: none;
  border-radius: 4px;
  font-weight: 700;
}

@media (max-width: 1019px) {
  .nav__bar {
    width: 57rem;
  }
}

@media (max-width: 915px) {
  .nav__bar {
    width: 50.5rem;
  }
}

@media (max-width: 812px) {
  .nav__bar {
    width: 44.5rem;
  }
}

@media (max-width: 709px) {
  .nav__bar {
    width: 37.6rem;
  }
}

@media (max-width: 605px) {
  .nav__bar {
    width: 31.6rem;
  }

  .nav__logo {
    width: 10rem;
  }

  .nav__link {
    padding-top: 0.4rem;
    font-size: 0.75rem;
  }

  .nav__btn {
    padding-top: 0.4rem;
    font-size: 0.75rem;
  }

  .nav__left {
    gap: 1.5rem;
  }
}

@media (max-width: 502px) {
  .nav__bar {
    width: 29rem;
  }

  .nav__left {
    gap: 1rem;
  }
}
